*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');
body{
    font-family: 'Manrope', sans-serif;
    background-color: #16232D;
    color: #fff;
}
.loading{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
.inner-loader{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    animation: loader 0.8s cubic-bezier(0.46, -0.1, 0.27, 1.07) 0.2s infinite;
}
@keyframes loader {
        0%,
        55%,
        100% {
            opacity: 0;
        }
        
        0% {
            transform: scale(0.2);
        }
        
        22% {
            opacity: 1;
        }
        
        33%,
        55% {
            transform: scale(1);
        }
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
a.active{
    border-bottom: 1px solid white;
}
.navbar{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    transform: translateX(50%);
    right: 50%;

}
.navbar__logo{
    font-size: 18px;
}
.navbar__links{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    margin-left: 10vw; 

}
@media screen and (max-width: 600px) {
    .navbar__links{
        display: none;
    }

    
}
.navbar__links li{
    margin-right: 20px;
    color: #c6d0d7;
}
.navbar__cart{
    background-color: #fff;
    color: #16232D;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px;
   
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;

}
.hero__text h1{
    color: #707B81;
    font-size: 3rem;
}
.hero__text h1 span{
    color: #fff;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.card{
    border-radius: 15px;
    overflow: hidden;


}
.card p{
    font-size: 13px;
    color: #707B81;
    margin-top: 10px;
}
.card__image{
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16232db0;
    
}
.overlay p{
    font-size: 2rem;
    font-weight:bold ;
    color: #fff;
}
.card__price{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;

}
.card__price p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.card__image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.card__btn{
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    color: #16232D;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.card__btn:hover{
    background-color: #dce2e6;
}
.card__btn span{
    font-size: 1rem;
    display: block;
}
.card__btn span:hover{
    color:#707B81;
    cursor: pointer;
}

.shopping-cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #c6d0d7;
    z-index: 1000;
    height: 100vh;
    padding: 25px 40px;
}
@media screen and (max-width: 660px) {
    .shopping-cart{
        width: 100%;
    }
}
.shopping-cart__title{
    color: #16232D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn{
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #000;
}
.close-btn:hover{
    color:#707B81;
}
.cart__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cart__item__img{
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    object-fit: cover;
}
.cart__item__img img{
    width: 100%;
}
.product__desc{
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
.total{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.removeAll-btn{
    background: none;
    border: none;
    outline: none;
    padding: 8px 10px;
    border: 1px solid #16232D;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.removeAll-btn:hover{
    background-color: #707B81;
}
.pay-now-btn{
    background: none;
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #16232D;
}
.check-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}
.check-out p{
    color: #000;
}
.empty-cart-msg{
    height: 80%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    color: #263a49;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
}